body {
  margin: auto;
  width: 100%;
  background: pink;
}

/* only need what's below to insert into carrd!!!! */

.moe {
border-width: 20px 20px 20px 20px;
border-style:solid;
border-image:  display: block;
border-image: url("https://media.discordapp.net/attachments/902755758377144370/902759990035628073/IMG_1003.gif") 8 fill round;
width:250px;
height:auto;
border-radius: 10px;
display: block;
margin: auto;
}

/* ignore lol don't use this if you're inserting into carrd */
p {
  font-size: 1em;
  text-align: center;
}

/* just here 2 center content, delete! */
div {
margin: auto;
display: table;
text-align: center;
padding: 10px;
height: 100%;
}
/* carrd will automatically center content */

#text {
font-size: 1em;
color: white;
font-family: arial;
text-decoration: none;
font-weight: none;
text-shadow: 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black; 
animation: flip-in-zoom 3s ease-in-out;
}
/* css to customize your text! */


#image, img {
animation: flip-in-zoom 3s ease;
width: 120px; /* adjusts img size */
}
/* css to customize your image! */

@keyframes flip-in-zoom {
  0% {
    filter: blur(2.5px);
    -webkit-filter: blur(2.5px);
transform: rotateY(80deg) scale(0.75,0.75);
  } 25% {
    transform: scale(0.75,0.75);
    filter: blur(0px);
    -webkit-filter: blur(0px);
  } 50% {
transform: rotateY(1deg);
  } 100% {
transform: scale(1,1);
}
} 
/* keyframes, if you don't know what you're doing, don't tocuch it */  